<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
    <h4>Menu:</h4>
    <ul>
        <li><a href="/">Main</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
    </ul>

    <h1>This is page about me.</h1>

    <ul>

        <li>Name: Gediminas Ivanauskas</li>
        <li>Age: 24</li>
        <li>City: Vilnius, Lithuania</li>
        <li>Occupation: WEB developer</li>
    </ul>
</body>
</html>