{% extends 'base.html' %}

{% block content %}
    <h1>{{ title }}</h1>

    {% if name %}
        <p>Sveikas, {{ name }}</p>
    {% endif %}

    <ul>

        <li>Name: Gediminas Ivanauskas</li>
        <li>Age: 24</li>
        <li>City: Vilnius, Lithuania</li>
        <li>Occupation: WEB developer</li>
    </ul>

    <form action="/about" method="post">
        <input type="text" name="contact-name" placeholder="Enter your name">
        <br>

        <input type="email" name="contact-email" placeholder="Enter email address">
        <br>

        <textarea name="contact-message" placeholder="Enter your message"></textarea>
        <br>

        <button type="submit">Submit</button>
    </form>
{% endblock %}
