<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
    <h4>Menu:</h4>
    <ul>
        <li><a href="/">Main</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
    </ul>

    <h1>This is my portfolio page</h1>

    <ul>
        <li>2019-02 - 2019-04 - Smartninja teacher</li>
        <li>2018-03 - 2019-01 - ORCA cryptocurrency</li>
        <li>2018-01 - 2018-05 - 4th fail at a degree</li>
        <li>2017-09 - 2017-12 - 4th try at a degree</li>
    </ul>
</body>
</html>